@use 'variaveis';

.footer{
  
  width: 100%;
  @media (min-width:993px) and (max-width:1600px){
      padding-top: 50px;
      width: 100%;
  }
  @media (min-width:993px) and (max-width:1600px){
    width: 100%;
  }
  width: 100%;
  &__container{
  width: 100%;
  
  text-align: center;
  // background-color: variaveis.$corDeFundo;
  @media (min-width:768px) and (max-width:992px){
    padding: 50PX 0px 5%;
    display: flex;
    justify-content: center;
    align-items: center;
      padding-top: 50px;
  }
  @media (min-width:993px) and (max-width:1600px){
    padding: 50PX 0px 5%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
      margin: auto;
      padding-top: 70px;
  }
  &__list{
    width: 90%;
    margin: auto;
    @media (min-width:768px) and (max-width:992px){
      margin: 0;
      width: 100%;
      font-size: 20px;
    }
    @media (min-width:993px) and (max-width:1600px){
      margin: 0;
      width: 100%;
      font-size: 20px;
    }
    &__item{
      display: inline;
      margin: 5px 0;
      padding-left: 5px;
      font-family: 'Lobster', cursive;
    a{
      font-family: 'Lobster', cursive;
      color:variaveis.$fundo1;
    }
    }
  }
  &__text{
    font-family: 'Lobster', cursive;
    padding-bottom: 5px;
    @media (min-width:768px) and (max-width:992px){
      font-size: 16px;
    }
    @media (min-width:993px) and (max-width:1600px){
      font-size: 20px;
    }
  }
}
}